PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=gim_swimming
DB_SSLMODE=disable
JWT_SECRET=your_jwt_secret_key_here
VAPID_PUBLIC_KEY=BP1E0qAKBOVQHlCwm5K8IF7kYkX1_IxtFrd_LzVzSsAjV6gPSooiYCV8xnaUu6k1rVd4jY_J6c3k0qUhcngrROU
VAPID_PRIVATE_KEY=cfiU4mGT5VAUuyjB5vTLW1KfjFfcAm235-5RCyNNWMk
VAPID_SUBJECT=mailto:admin@gimswimming.com
